<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Results {{ article }}</title>
    <link rel="shortcut icon" href="static/site_icon.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <link href="static/jumbotron-narrow.css" rel="stylesheet" />
</head>
<body>
    <p>We encountered a strange request! Try specifying a Hoops Rumor article.</p>
    <h4><a href="../">Go back for more alchemy</a></h4>
</body>
</html>